#page-container {
	position: relative;
  	min-height: 100vh;
}

.button {
	background-color: #1e5162;
	border: 2px solid #1e5162;
	border-radius: 20px;
	width: 12%;
	height: 45px;
	color: #ffffff;
	font-size: 0.9em;
	padding: 8px;
	position: relative;
	top: 20px;
	left: 45%;	
}

.button:hover {
	color: #f2f2f2;
}

.city {
	background-image: linear-gradient(to right, #1e5162, #ffffff);
	width: 100%;
	height: 30px;
	position: relative;
	left: 0;
	top: 76px;
}

.container {
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 #e6e6e6, 0 6px 20px 0 #e6e6e6;
	border: none;
	border-radius: 20px;
    margin: 100px;
    padding: 15px;
}

.heading{
	margin: 0px 30px;
	overflow: hidden;
	font-size: 20px;
	position: relative;
	color: #1e5162;
}

.heading a{
	position: absolute;
	top: 50px;
	left: 950px;
	font-weight: 700;
	font-size: 13px;
	line-height: 11px;
	text-transform: uppercase;
	color: #008cff;
}

#items {
	overflow: hidden;
	position: relative; 
	width: 100%;
	height: 100%;
	display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.blocks {
	margin: 10px;
	padding: 10px;
	flex: 1;
}

.blocks img {
	width: 180px;
	height: 200px;
	border: none;
	border-radius: 10px;
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}


/*all pg-hostel details style*/
/*pg-hostel-showall.html*/



.pg-hostel-showall {
    font-size: 1.2rem;
    margin: 1.2rem 0;
}

.pg-hostel-showall__image-container {
	width: 50%;
	max-width: 465px;
	display: inline-block;
	vertical-align: middle;
	box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.5);
}
  
.pg-hostel-showall__image{
	width: 100%;
	vertical-align: top;
}

.pg-hostel-showall__info {
	padding: 0.9rem;
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	text-align: center;
}
  
.pg-hostel-showall__name {
	margin: 0.2rem;
	color: #cc0066;
	font-size: 2rem;
}
  
.pg-hostel-showall__address {
	margin: 0;
	font-size: 1.1rem;
	color: #808080;
}
  
.pg-hostel-showall__facility {
	list-style: none;
	padding: 0;
	margin: 0;
}

.pg-hostel-showall__facility li {
	padding: 0.4rem 0;
	font-size: 1rem;
	color: #008cff;
}

.pg-hostel-showall__amenities {
	margin: 0.2rem;
	font-size: 15px;
	color: #008cff;
}


/*particular p-hostel details*/
/*pg-hostel.html*/


.pg-hostel {
    font-size: 1.2rem;
    margin: 1.2rem 0;
    height: 100%;
}

.pg-hostel__image-container {
	width: 100%;
	padding: 20px;
}
  
.pg-hostel__image{
	width: 100%;
 	height: 400px;
}

.pg-hostel__info {
	padding: 0.9rem;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	text-align: left;
}
  
.pg-hostel__name {
	margin: 0.2rem;
	color: #30819c;
	font-size: 2rem;
}
  
.pg-hostel__address {
	margin: 0;
	font-size: 1.2rem;
	color: #ff5454;
}

.pg-hostel__description{
	font-size: 1rem;
	color: #1e5162;
}

.pg-hostel__price{
	font-size: 1rem;
	color: #1e5162;
}
  
.pg-hostel__facility {
	list-style: none;
	padding: 0;
	margin: 0;
}

.pg-hostel__facility li {
	padding: 0.4rem 0;
	font-size: 1rem;
	color: #008cff;
}

.pg-hostel__amenities {
	margin: 0.2rem;
	font-size: 15px;
	color: #008cff;
}


/*form elements styling*/


.form-container {
	/*border-radius: 5px;
  	background-color: #f2f2f2;*/
  	padding: 20px;
}

.label {
	font-size: 1.1em;
	color: #1e5162;
	left: 30px;
  	margin: 12px 0 12px;  /*top-right-bottom-left*/
  	display: inline-block;
  	padding-right: 5px;
}

.input {
	/*width: 100%;
  	padding: 12px;
  	border: 1px solid #ccc;
  	border-radius: 4px;*/

  	display: block;
  	margin: 12px 0 12px;
	width: 100%;
	border: none;
	border-bottom: 1px solid #bfbfbf;
	background-color: white;
}


/*profile page design*/


.profile-container {
    font-size: 14px;
    margin-left: 30px;
    padding: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.profile-container h2{
	color: #008cff;
	text-decoration: underline;
}

.column-combine {
  	grid-row-start: 2;
  	grid-row-end: 2;
	display: grid;
  	grid-template-columns: repeat(1, 1fr);
  	margin-bottom: 20px;
}


/*contact us page design*/


.contact-us_container {
    font-size: 14px;
    margin-left: 30px;
    padding: 20px;
	display: grid;
	grid-template-columns: repeat(1, 1fr 3fr);
}